[submodule "ARTPI/ld_modbus"]
	path = ARTPI/ld_modbus
	url = https://github.com/l993889589/ld_modbus.git
[submodule "ARTPI/ldc"]
	path = ARTPI/ldc
	url = https://github.com/l993889589/ldc.git
[submodule "projects/stm32f401-chpm/third_party/ldc"]
	path = projects/stm32f401-chpm/third_party/ldc
	url = https://github.com/l993889589/ldc.git
[submodule "projects/stm32f401-chpm/third_party/ld_modbus"]
	path = projects/stm32f401-chpm/third_party/ld_modbus
	url = https://github.com/l993889589/ld_modbus.git
